<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>745934558308-3b295vo6a1d8p5ltiltf81r42b3m0l2d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.745934558308-3b295vo6a1d8p5ltiltf81r42b3m0l2d</string>
	<key>API_KEY</key>
	<string>AIzaSyDLG-vj-NHXTWdA3mt3yjRpRxNBCf4wcP0</string>
	<key>GCM_SENDER_ID</key>
	<string>745934558308</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rgtechcafe.thrifterHackon</string>
	<key>PROJECT_ID</key>
	<string>hackon-df431</string>
	<key>STORAGE_BUCKET</key>
	<string>hackon-df431.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:745934558308:ios:a5cacaab5bb6954c50bb71</string>
</dict>
</plist>